#hub-page{
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
    position: relative;
    background-color: white;

    #hub-list-container{
        width: max-content;
    }
}